.menubar {

  margin-bottom: 1rem;
  transition:visibility 0.2s 0.4s, opacity 0.2s 0.4s;

  &.is-hidden {
    visibility:hidden;
    opacity: 0;

}

&.is-focused {
  visibility:visible;
  opacity: 1;
  transition:visibility 0.2s, opacity 0.2s;

}

&__button {
  font-weight:bold;
  display:inline-flex;
  background:transparent;
  border: 0;
  color: $color-black;
  padding: 0.2rem 0.5rem;
  margin-right: 0.2rem;
  border-radius: 3px;
  cursor:pointer;

  &:hover {
    background-color: rgba($color-black, 0.05);

}

&.is-active {
  background-color: rgba($color-black, 0.1);

}
}
}
