<template>
  <div class="home">
    hello, world
    <button @click="logout">Logout</button>
  </div>
</template>

<script>
	import firebase from 'firebase/app';
	import 'firebase/auth';
	
	// @ is an alias to /src
	
	export default {
		name: 'home',
		components: {
		},
		methods: {
			logout: function () {
				firebase.auth().signOut().then(() => {
					this.$router.replace('login')
				})
			}
		}
	}
</script>
