<template>
  <div class="home" >
    <v-container>
        <v-layout row mb-5 align-center v-if="!!novella">
          <v-flex xs8 offset-xs2>
            <text-editor :content="novella.title"
                         :editable="editable"
                         :enableMenuBar="false"
                         :classes="editorNovellaTitleStyle"
                         :on-content-change="saveNovellaTitle"
                         :key="editable"/>
          </v-flex>
        </v-layout>
  
      <v-layout row mt-3>
        <v-flex shrink class="mr-4 mt-5" v-if="!!novella">
          <two-ways-stateful-button
              active-icon="edit"
              inactive-icon="edit"
              :active="editable"
              :action="toggleEdition"
          >
          </two-ways-stateful-button>
          
          <v-item-group v-model="selectedWindow" mandatory tag="v-flex">
              <v-item v-for="frag in novella.fragments" :key="frag._id">
                <div slot-scope="{ active, toggle }">
                  <v-btn tag="a" :input-value="active" icon @click="goToFragId(frag._id)">
                    <v-icon small style="color: #141d24">lens</v-icon>
                  </v-btn>
                </div>
              </v-item>
            </v-item-group>
          
            <v-spacer vertical></v-spacer>
            <v-btn v-if="editable" icon @click="addNewFragment"><v-icon small>add_circle_outline</v-icon></v-btn>
            <v-spacer vertical></v-spacer>
            <v-btn icon v-if="editable && novella.fragments.length > 0" @click="deleteCurrentFragment">
              <v-icon small>remove_circle_outline</v-icon>
            </v-btn>
          
        </v-flex>
  
        <v-flex v-if="!!error" class="amatic-large mt-5 error">
          Erreur : {{error}}
        </v-flex>
  
        <v-flex v-if="!!novella && novella.fragments.length === 0" class="amatic-large mt-5">
          Oups ! Il semblerait que cette nouvelle vienne tout juste d'être crée et ne comporte pas encore de contenu.
        </v-flex>
        
        <v-flex xs6 mr-5 v-if="!!fragment">
          <v-layout align-center mb-3>
                <text-editor :content="fragment.title"
                             :editable="editable"
                             :enableMenuBar="false"
                             :classes="editorTitleStyle"
                             :on-content-change="saveFragmentTitle"
                             :key="editable"/>
  
            <v-spacer></v-spacer>
          </v-layout>
          <div class="tiptap-editor ">
            <text-editor :content="fragment.content"
                         :editable="editable"
                         :on-content-change="saveFragmentContent"
                         classes="josefin-slab"
                         :key="editable"/>
          </div>
        </v-flex>
        
        <v-flex xs4 ml-5 v-if="!!fragment">
           <companion :fragment="fragment"></companion>
        </v-flex>
        
      </v-layout>
    </v-container>
  </div>
</template>

<script>
    import Vue from 'vue';
    import {mapActions, mapGetters, mapState} from "vuex";

    import Companion from '@/components/Companion.vue';
    import TextEditor from '@/components/TextEditor.vue';
    import TwoWaysStatefulButton from '@/components/ui/TwoWaysStatefulButton.vue';
    import {makeNewFragmentContent, makeNewFragmentTitle} from "../store/novellas/actions";

    export default Vue.extend({
        name: 'NovellaReader',
        components: {
            TextEditor,
            Companion,
            TwoWaysStatefulButton
        },
        props: ['editor', 'novId', 'fragOrder'],
        data() {
            return {
                drawer: [],
                editable: false,
                selectedWindow: this.fragOrder === undefined ? 0 : this.fragOrder,
            }
        },
        mounted() {
	        this.clearNovella();
        },
        created() {
          this.editable = this.$props.editor !== undefined;
	        this.clearNovella();
	        
	        this.getNovella(this.$props.novId).then(() => {
	        	  const fragOrder = this.$props.fragOrder === undefined ? 0 : this.$props.fragOrder
              if (this.novella.fragments.length > 0 ) {
	              // select the fragment that matches the frag order param in route
               
	              const fragId = this.novella.fragments[fragOrder]._id;
	              if (fragId === undefined) {
		              this.setError(`Oups ! Impossible de récupérer le fragment ${fragOrder} !`)
	              } else {
		              this.getFragment({
			              novellaId: this.$props.novId,
			              fragId: fragId
		              }).then(() => {
			              this.selectedWindow = fragOrder;
		              })
	              }
              }
	        });
        },
        methods: {
            toggleEdition() {
              this.editable = !this.editable
            },
            addNewFragment() {
                const newNum = this.novella.fragments.length;
                const newFrag = {
                    title: makeNewFragmentTitle('Titre du nouveau fragment'),
                    content: makeNewFragmentContent(),
                    context: [
                        {title: 'Sac à dos', content: 'backpack content'},
                        {title: 'Événements', content: 'events content'},
                        {title: 'Personnages', content: 'characters content'},
                        {title: 'Lieux', content: 'places content'},
                    ],
                    meta: {
                        author: null,
                        date: null,
                        tags: []
                    }
                };
                // make a new fragment
                this.addFragment({novellaId: this.novella._id, fragment: newFrag}).then(() => {
                    // then refresh and select the new one
                    this.$router.push({
                      name: 'fragment',
                      params: {novId: this.novella._id, fragOrder: newNum},
                      query: {editor: '1'}
                    })
                })
            },
            saveFragmentContent(newContent) {
              this.updateFragment({
	              novellaId: this.novella._id,
                fragId: this.fragment._id,
                content: newContent,
                title: this.fragment.title
              });
            },
            saveFragmentTitle(newTitle) {
                this.updateFragment({
	                novellaId: this.novella._id,
                  fragId: this.fragment._id,
                  content: this.fragment.content,
                  title: newTitle
                });
            },
            saveNovellaTitle(newTitle) {
	            this.updateNovella({
		            novellaId: this.novella._id,
		            title: newTitle,
                meta: this.novella.meta,
	            });
            },
            deleteCurrentFragment() {
            	if (!!this.novella && !!this.fragment) {
		            this.deleteFragment({novellaId: this.novella._id, fragId: this.fragment._id}).then(() => {
			            if (this.$props.fragOrder - 1 >= 0) {
				           this.goToFragOrder(this.$props.fragOrder - 1)
			            } else {
				            this.$router.push({name: 'fragments'})
			            }
		            })	;
              }
            },
            goToFragId(fragId) {
            	const fragOrder = this.fragOrderFromId(fragId);
            	if (fragOrder !== -1) {
		            this.$router.push({
			            name: 'fragment',
			            params: {novId: this.novella._id, fragOrder: fragOrder},
			            query: {editor: this.editable ? '1' : undefined}
		            });
              } else {
			            this.setError(`Oups ! Impossible de récupérer le fragment ${fragOrder} !`)
              }
            },
            goToFragOrder(fragOrder) {
            	if (!!this.novella && this.novella.fragments.length > fragOrder){
            		this.goToFragId(this.novella.fragments[fragOrder]._id);
              } else {
		            this.setError(`Oups ! Impossible de récupérer le fragment ${fragOrder} !`)
	            }
            },
            ...mapActions('novellas', [
            	'clearNovella',
            	'getFragment', 'getNovella', 'addFragment',
              'updateFragment', 'deleteFragment', 'updateNovella',
              'setError'])
        },
        computed: {
            editorTitleStyle() {
                return this.editable ? 'amatic underlined' : 'amatic'
            },
            editorNovellaTitleStyle() {
              return this.editable ? 'amatic-large underlined' : 'amatic-large'
            },
            ...mapState('novellas', {fragmentsAreLoading: 'isLoading', fragment: 'fragment', novella: 'novella', error: 'error'}),
            ...mapGetters('novellas', ['fragOrderFromId'])
        },
    });
  
</script>

<style>

</style>
