<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs8>
       
          <v-list two-line class="transparent">
            <template v-for="(item, index) in items">
              <v-list-tile
                  :key="item.novellaId"
                  v-on:click.stop="$router.push(`/novellas/${item.novellaId}`)"
              >
                <v-list-tile-content>
                  <div style="font-family: 'Amatic SC', cursive !important;">
                    <text-editor :content="item.title" :editable="false" />
                  </div>
                  <v-list-tile-sub-title class="josefin-slab">{{ item.headline }}</v-list-tile-sub-title>
                </v-list-tile-content>
  
                <v-list-tile-action>
                  <v-btn icon small v-on:click.stop="safeDeleteNovella(item.novellaId)" :disabled="!!loading">
                    <v-icon small>
                      close
                    </v-icon>
                  </v-btn>
                </v-list-tile-action>
                
              </v-list-tile>
              <v-divider :key="index"></v-divider>
            </template>
          </v-list>
        
        <v-list two-line class="transparent">
            <v-list-tile>
              <v-list-tile-content>
                <v-form v-show="!!newNovellaFormIsVisible"
                    ref="form"
                    lazy-validation
                    style="width: 100%"
                    v-model="newNovellaValidity"
                >
                  <v-layout row>
                    <v-flex xs10 mr-4>
                      <v-text-field
                          v-model="newNovellaTitle"
                          label="Titre"
                          required
                          :rules="newTitleRules"
                          style="font-size: 28px !important; font-weight: bold; font-family: 'Amatic SC', cursive"
                      ></v-text-field>
                    </v-flex>
                    <v-flex pt-3 class="josefin-slab">
                      <v-btn small
                          :disabled="!newNovellaValidity || !newNovellaTitle || !!loading"
                          color="primary"
                          @click="validateNewNovella"
                      >
                        <strong>Ajouter</strong>
                      </v-btn>
                    </v-flex>
                    <v-flex pt-3 class="josefin-slab">
                      <v-btn small :disabled="!!loading"
                          color="secondary"
                          @click="resetNewNovella"
                      >
                        <strong>Annuler</strong>
                      </v-btn>
                    </v-flex>
                  </v-layout>
                </v-form>
              </v-list-tile-content>
        
              <v-list-tile-action>
                <v-btn icon @click="showNewNovellaForm" :disabled="!!loading">
                  <v-icon small>add</v-icon>
                </v-btn>
              </v-list-tile-action>
      
            </v-list-tile>
        </v-list>

      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
	import Vue from 'vue';
	import {mapActions, mapGetters, mapState} from "vuex";
	import TextEditor from "../components/TextEditor";
	import {makeNewNovellaTitle} from "../store/novellas/actions";
	
	export default {
		name: "NovellasIndex",
    components: {TextEditor},
		data() {
			return {
				items: [],
				
				newNovellaFormIsVisible: false,
        newNovellaTitle: '',
        newNovellaValidity: false,
				newTitleRules : [
					v => !!v || 'Le titre est obligatoire',
					v => (v && v.length >= 3) || 'Le titre doit contenir au moins trois caractères',
        ]
			}
		},
    mounted() {
			this.refreshNovellaList();
    },
    methods: {
			refreshNovellaList() {
				this.clearNovella();
				this.resetNewNovella();
				this.getNovellaList().then(() => {
					this.items = this.novellaList.map(n => {
						return {
							title: n.title,
							headline: n._id,
							novellaId: n._id,
						}
					});
				});
      },
			safeDeleteNovella(novId) {
				this.deleteNovella(novId).then(r => {
					this.refreshNovellaList();
				})
      },
	    validateNewNovella() {
		    if (this.$refs.form.validate()) {
         this.addNovella({
           meta: {},
           title: makeNewNovellaTitle(this.newNovellaTitle),
         }).then(r => {
	         this.refreshNovellaList();
         });
		    }
	    },
      resetNewNovella() {
	      this.newNovellaFormIsVisible = false;
	      this.$refs.form.reset();
      },
      showNewNovellaForm() {
				this.newNovellaFormIsVisible = true;
      },
	    ...mapActions('novellas', [
	    	'clearNovella',
		    'getNovellaList',
		    'deleteNovella',
		    'addNovella',
		    'setError'])
    },
    computed: {
	    ...mapState('novellas', {
		    loading: 'isLoading',
		    novellaList: 'novellaList',
		    error: 'error'
	    }),
    }
	}
</script>

<style scoped>

</style>
