<template>
  <aside class="companion josefin-slab">
    <v-tabs
        slider-color="brown"
        optional vertical centered
        v-model="selectedContextEntry"
    >
      <v-tab v-for="entry in fragment.context" :key="entry.title">
        <span class="amatic-large">{{ entry.title }}</span>
      </v-tab>
    </v-tabs>
    
    <div class="mt-3">
      <v-tabs-items v-model="selectedContextEntry">
        <v-tab-item v-for="entry in fragment.context" :key="entry.title">
          <p class="companion-content">
           {{entry.content}}
          </p>
        </v-tab-item>
      </v-tabs-items>
    </div>
    
  </aside>
</template>

<script>
	import Vue from 'vue';
	import {mapActions, mapState} from "vuex";
	
	import TextEditor from "@/components/TextEditor.vue";
	
	export default {
		name: "Companion",
    components: {
	    TextEditor
    },
    props: {
    },
    data() {
			return {
				selectedContextEntry: 0,
			}
		},
    methods: {
			saveContext() {
				
      }
    },
    computed: {
	    ...mapState('novellas', {fragmentsAreLoading: 'isLoading', fragment: 'fragment', fragmentList: 'list'}),
    }
	}
</script>

<style>
  .theme--light.v-tabs__bar {
    background-color: transparent !important;
  }
  .companion p {
    text-align: justify;
  }
</style>
