<template>
  <div class="editor" :class="classes">
    <editor-menu-bar v-if="enableMenuBar" :editor="editor" v-slot="{ commands, isActive }">
      <div v-if="editable"
          class="menubar"
      >
        <button
            class="menubar__button"
            :class="{ 'is-active': isActive.bold() }"
            @click="commands.bold"
        >
          Bold
        </button>
        
        <button
            class="menubar__button"
            :class="{ 'is-active': isActive.italic() }"
            @click="commands.italic"
        >
          Italic
        </button>
        
        <button
            class="menubar__button"
            :class="{ 'is-active': isActive.strike() }"
            @click="commands.strike"
        >
          Strike
        </button>
        
        <button
            class="menubar__button"
            :class="{ 'is-active': isActive.underline() }"
            @click="commands.underline"
        >
          Underline
        </button>
        
        <button
            class="menubar__button"
            :class="{ 'is-active': isActive.paragraph() }"
            @click="commands.paragraph"
        >
          Paragraph
        </button>
        
        <button
            class="menubar__button"
            :class="{ 'is-active': isActive.heading({ level: 1 }) }"
            @click="commands.heading({ level: 1 })"
        >
          H1
        </button>
        
        <button
            class="menubar__button"
            :class="{ 'is-active': isActive.heading({ level: 2 }) }"
            @click="commands.heading({ level: 2 })"
        >
          H2
        </button>
        
        <button
            class="menubar__button"
            :class="{ 'is-active': isActive.heading({ level: 3 }) }"
            @click="commands.heading({ level: 3 })"
        >
          H3
        </button>
        
        <button
            class="menubar__button"
            :class="{ 'is-active': isActive.bullet_list() }"
            @click="commands.bullet_list"
        >
          Bullets
        </button>
        
        <button
            class="menubar__button"
            :class="{ 'is-active': isActive.ordered_list() }"
            @click="commands.ordered_list"
        >
          List
        </button>
        
        <button
            class="menubar__button"
            :class="{ 'is-active': isActive.blockquote() }"
            @click="commands.blockquote"
        >
          Blockquote
        </button>
      </div>
    </editor-menu-bar>
    <editor-content class="editor__content" :editor="editor"/>
  </div>
</template>

<script>
	// Import the basic building blocks
	import {Editor, EditorContent, EditorMenuBar} from 'tiptap'
	import {
		Blockquote,
		BulletList,
		HardBreak,
		Heading,
		ListItem,
		OrderedList,
		TodoItem,
		TodoList,
		Bold,
		Code,
		Italic,
		Link,
		Strike,
		Underline,
		History,
	} from 'tiptap-extensions'
 
	export default {
		name: "TextEditor",
		components: {
			EditorContent, EditorMenuBar
		},
    props: {
			content:  {type: Object},
      editable: {type: Boolean, default: false},
      enableMenuBar: {type: Boolean, default: true},
      onContentChange: {type: Function},
      classes: {type: String, default: ''},
    },
		data() {
			return {
				// Create an `Editor` instance with some default content. The editor is
				// then passed to the `EditorContent` component as a `prop`
    
				editor: new Editor({
					content: this.$props.content,
          editable: this.$props.editable,
					extensions: [
						new Blockquote(),
						new BulletList(),
						new HardBreak(),
						new Heading({levels: [1, 2, 3]}),
						new ListItem(),
						new OrderedList(),
						new TodoItem(),
						new TodoList(),
						new Link(),
						new Bold(),
						new Code(),
						new Italic(),
						new Strike(),
						new Underline(),
						new History(),
					],
					onUpdate: ({getJSON}) => {
						const newContent = getJSON();
						if (!!this.$props.onContentChange) {
							this.$props.onContentChange(newContent);
            }
					}
				}),
			}
		},
		beforeDestroy() {
			// Always destroy your editor instance when it's no longer needed
			this.editor.destroy()
		},
	}
</script>

<style lang="scss">
  @import "../styles/global.scss";
</style>
