<template>
  <v-app>
  
    <v-navigation-drawer
        v-model="drawer"
        permanent
        hide-overlay
        app
        class="textured-paper"
    >
      <v-list>
        
        <v-list-tile @click="">
          <v-list-tile-action>
            <v-icon style="color: orangered !important;">whatshot</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title  @click="$router.push('/novellas')"
                class="amatic-large"
                style="color: orangered !important;">
              A fiery fireplace
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        
        <v-list-tile @click="">
          <v-list-tile-action>
            <v-icon style="color: darkorange !important;">adjust</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title
                class="amatic-large"
                style="color: darkorange !important;">
              A distant orb</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
  
        <v-list-tile @click="">
          <v-list-tile-action>
            <v-icon style="color: limegreen !important;">photo</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title
                class="amatic-large"
                style="color: limegreen !important;">
              Fat grass
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        
        <v-list-tile @click="">
          <v-list-tile-action>
            <v-icon style="color: slateblue !important;">bubble_chart</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title
                class="amatic-large"
                style="color: slateblue !important;">
                A muddy swamp
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
  
        <v-list-tile @click="">
          <v-list-tile-action>
            <v-icon style="color: dodgerblue !important;">waves</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title
                class="amatic-large"
                style="color: dodgerblue !important;">
              The shoreside inn
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        
      </v-list>
    </v-navigation-drawer>
    
    <v-content class="paperboard">
        <router-view :key="$route.fullPath"/>
    </v-content>
    
  </v-app>
</template>

<script>
export default {
  name: 'App',
  components: {
  },
  data () {
    return {
      drawer: []
    }
  }
}
</script>

<style>
  
  /* amatic-sc-regular - latin */
  @font-face {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/amatic-sc-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Amatic SC Regular'), local('AmaticSC-Regular'),
    url('./assets/fonts/amatic-sc-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 */ url('./assets/fonts/amatic-sc-v12-latin-regular.woff2') format('woff2'),
      /* Super Modern Browsers */ url('./assets/fonts/amatic-sc-v12-latin-regular.woff') format('woff'),
      /* Modern Browsers */ url('./assets/fonts/amatic-sc-v12-latin-regular.ttf') format('truetype'),
      /* Safari, Android, iOS */ url('./assets/fonts/amatic-sc-v12-latin-regular.svg#AmaticSC') format('svg'); /* Legacy iOS */
  }

  /* josefin-slab-regular - latin */
  @font-face {
    font-family: 'Josefin Slab';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/josefin-slab-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Josefin Slab Regular'), local('JosefinSlab-Regular'),
    url('./assets/fonts/josefin-slab-v9-latin-regular.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 */ url('./assets/fonts/josefin-slab-v9-latin-regular.woff2') format('woff2'),
      /* Super Modern Browsers */ url('./assets/fonts/josefin-slab-v9-latin-regular.woff') format('woff'),
      /* Modern Browsers */ url('./assets/fonts/josefin-slab-v9-latin-regular.ttf') format('truetype'),
      /* Safari, Android, iOS */ url('./assets/fonts/josefin-slab-v9-latin-regular.svg#JosefinSlab') format('svg'); /* Legacy iOS */
  }
  
  .amatic-large {
    font-family: 'Amatic SC', cursive;
    font-size: xx-large !important;
  }
  .amatic {
    font-family: 'Amatic SC', cursive;
    font-size: medium !important;
  }
  .josefin-slab {
    font-family: 'Josefin Slab', serif;
    font-size: large !important;
  }

  .underlined {
    border-bottom: 1px dashed grey;
  }

  .textured-paper {
    background: #141d24 url("assets/black-paper.png") !important;
  }

  .paperboard {
    background: #ecebed url("assets/white-paperboard.png");
  }
  .v-messages {
    font-family: 'Josefin Slab', serif !important;
    font-size: 16px !important;
  }
</style>

<style scoped>
  .v-list__tile__title {
    line-height: 32px;
    height: 32px;
  }
</style>
