<template>
  <v-btn icon  @click="callAction" :class="myClasses">
    <v-icon  v-if="state === 1">{{activeIcon}}</v-icon>
    <v-icon  v-else>{{inactiveIcon}}</v-icon>
  </v-btn>
</template>

<script>
  export default {
    name: 'StatefulButton',
    props: {
      activeIcon: {type: String},
      inactiveIcon: { type: String },
      label: {type: String},
      action: {type: Function},
      active: {type: Boolean, default: false},
      disabled: { type: Boolean, default: false }
    },
    data() {
      return {
        state: 0
      }
    },
    created() {
      if (!this.disabled) {
        this.state = this.active ? 1 : 0
      }
    },
    methods: {
      callAction() {
        switch (this.state) {
          case 0: // STATE A  --> STATE B
            this.state = 1;
            break;
          case 1: // STATE B --> STATE A
            this.state = 0;
            break;
        }

        this.$props.action(this.state === 1);
      }
    },
    computed: {
      myClasses() {
        if (this.state === 0) {
          return 'secondary'
        }
        else {
	        return 'primary'
        }
      }
    }
  }
</script>

<style scoped>

</style>
